*{
  font-family: "Manrope", sans-serif;
}
.navbar {
  top: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  background-color: transparent; 
}

.navbar-fixed {
  position: fixed;
  background-color: transparent;
  transform: translateY(0);
  animation: slide-down 0.5s forwards;
}

.sticky-sidebar {
  position: sticky;
  top: 100px;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

